In [45]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
import string
import matplotlib.pyplot as plt
%matplotlib inline

In [47]:
dset = pd.read_csv('spam.csv',encoding = "ISO-8859-1")
names=(['Class','Message'])
dset.head()

,Class,Message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [48]:
dset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
Class         5572 non-null object
Message       5572 non-null object
Unnamed: 2    50 non-null object
Unnamed: 3    12 non-null object
Unnamed: 4    6 non-null object
dtypes: object(5)
memory usage: 217.7+ KB

In [49]:
drop_cols = [col for col in dset.columns if 'Unnamed' in col]
dset.drop(columns=drop_cols, inplace=True)

In [50]:
dset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
Class      5572 non-null object
Message    5572 non-null object
dtypes: object(2)
memory usage: 87.1+ KB

In [51]:
dset.describe()

       Class                 Message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [52]:
dset['Length'] = dset['Message'].apply(len)

In [53]:
dset.head()

  Class                                            Message  Length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [54]:
dset.groupby('Class').count()

       Message  Length
Class
ham       4825    4825
spam       747     747

In [55]:
dset['Length'].describe()

count    5572.000000
mean       80.118808
std        59.690841
min         2.000000
25%        36.000000
50%        61.000000
75%       121.000000
max       910.000000
Name: Length, dtype: float64

In [56]:
dset[dset['Length']==910]['Message'].iloc[0]

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [57]:
target_num={'spam':0,'ham':1}
dset['Class']= dset['Class'].map(target_num)
dset.head()

   Class                                            Message  Length
0      1  Go until jurong point, crazy.. Available only ...     111
1      1                      Ok lar... Joking wif u oni...      29
2      0  Free entry in 2 a wkly comp to win FA Cup fina...     155
3      1  U dun say so early hor... U c already then say...      49
4      1  Nah I don't think he goes to usf, he lives aro...      61

In [58]:
def cleanMessage(message):
    nonPunc = [char for char in message if char not in string.punctuation]
    nonPunc = "".join(nonPunc)
    return nonPunc

In [59]:
dset['Message']= dset['Message'].apply(cleanMessage)

In [60]:
dset.head(8)

   Class                                            Message  Length
0      1  Go until jurong point crazy Available only in ...     111
1      1                            Ok lar Joking wif u oni      29
2      0  Free entry in 2 a wkly comp to win FA Cup fina...     155
3      1        U dun say so early hor U c already then say      49
4      1  Nah I dont think he goes to usf he lives aroun...      61
5      0  FreeMsg Hey there darling its been 3 weeks now...     148
6      1  Even my brother is not like to speak with me T...      77
7      1  As per your request Melle Melle Oru Minnaminun...     160

In [61]:
CV = CountVectorizer(stop_words="english")

In [62]:
X = dset['Message'].values
y = dset['Class'].values

In [63]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [64]:
X_train_CV = CV.fit_transform(X_train)

In [71]:
NB = MultinomialNB()
NB.fit(X_train_CV,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [72]:
X_test_CV = CV.transform(X_test)

In [73]:
y_predict = NB.predict(X_test_CV)

In [76]:
accuracyScore = accuracy_score(y_test,y_predict)
print(accuracyScore)

0.9856502242152466